.change-password {
  @include container();

  padding-top: 1rem;

  @media (min-width: $sm-screen) {
    padding-top: 5rem;
  }

  @media (min-width: $md-screen) {
    padding-top: 7rem;
  }

  &__header {
    @include HeaderMargins();

    h3 {
      @include H3();
      margin: 0.5rem auto;
      max-width: 100%;
    }
  }

  &__form {
    width: 30rem;

    .column {
      position: relative;
    }

    input {
      @include FormInput();
    }

    button {
      @include FormSubmitButton();
    }

    a {
      @include FormLink();
    }
  }
}
