$white-primary: #F5F7F9;
$gray-primary: #F2F2F2;
$gray-primary: #ECF0F1;

$purple-primary: #484981;
$purple-secondary: #313365;
$purple-background: #14174B;
$purple-accent: #B990E6;

$green-primary: #67D8AF;

$primary: $green-primary !default;
