/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/roboto-v27-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/public/fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/public/fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/public/fonts/roboto-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/public/fonts/roboto-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/public/fonts/roboto-v27-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

@mixin H1 {
  color: $purple-primary;
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
}

@mixin H2 {
  color: $purple-primary;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
}

@mixin H3 {
  color: $purple-secondary;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
}

@mixin Paragraph {
  color: $purple-secondary;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  font-stretch: normal;
  font-style: normal;
}
