.bio {
  @include input-box-shadow();
  width: 30rem;
  height: 8rem;
  background-color: $gray-primary;

  @media (min-width: $sm-screen) {
    width: 34rem;
  }

  a {
    @include FormText();
    text-align: right;
    text-decoration: underline;
  }

  &__content {
    span {
      @include FormText();
      font-weight: bold;
    }
  }
}
