@mixin full-width-background($background-color) {
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX( -50%);
    height: 100%;
    width: 100vw;
    background: $background-color;
    z-index: -1;
  }
}
